<h1>{{ title }}</h1>

<ul>
    {{#each students}} <li>
        {{ StudentID }} / {{ StudentName }} / {{StudentGrade}} / {{StudentMajor}} / {{Time}} / {{StudentEmail}}
        </a>
    </li>
    {{/each}}
</ul>