<h1>{{ title }}</h1>
<table>
<tr>
<td>Dname</td>
<td>Dnumber</td> 
</tr>
{{#each department}}
<tr>
<td>{{Dname}}</td>
<td>{{Dnumber}}</td>
</tr>
{{/each}}
</table>

<h1>{{ title2}}</h1>
<table>
<tr>
<td>Pname</td>
<td>Pnumber</td>
<td>Plocation</td>
</tr>
{{#each project}}
<tr>
<td>{{Pname}}</td>
<td>{{Pnumber}}</td>
<td>{{Plocation}}</td>
</tr>
{{/each}}
</table>